name: Build major images

on:
  #schedule: # Always runs on a default branch, docs: <https://git.io/Je5Z7>
  #  - cron: '10 0 */3 * *' # every 3 days
  push:
    branches: [develop] # change branch name if you want
    tags-ignore: ['**']

env:
  SOURCE_HUB: 'library/node'
  TARGET_HUB: 'tarampampam/node'

jobs: # Docs: <https://help.github.com/en/articles/workflow-syntax-for-github-actions>
  alpine:
    name: Build node:${{ matrix.tag }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        tag: [
          'alpine',
          'lts-alpine',
          'current-alpine',
          #'8-alpine', # latest update in 2019
          #'9-alpine', # latest update in 2018
          '10-alpine',
          '11-alpine',
          '12-alpine',
          '13-alpine',
          '14-alpine',
          '15-alpine',
          '16-alpine',
          '17-alpine'
        ]
    steps:
      - name: Verify that base image exists
        id: verify
        run: |
          echo "::set-output name=exists::$(curl -slSLf \
            "https://hub.docker.com/v2/repositories/${SOURCE_HUB}/tags/${{ matrix.tag }}" >/dev/null 2>&1 \
            && echo -n true || echo -n false)"

      - name: Check out code
        if: steps.verify.outputs.exists == 'true'
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1 # Action page: <https://github.com/docker/setup-qemu-action>

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1 # Action page: <https://github.com/docker/setup-buildx-action>

      - name: Login to default Container Registry
        uses: docker/login-action@v1 # Action page: <https://github.com/docker/login-action>
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push docker image
        if: steps.verify.outputs.exists == 'true'
        run: |
          docker buildx build \
            --platform "linux/amd64,linux/arm/v6,linux/arm64/v8" \
            --build-arg "NODE_VERSION=${{ matrix.tag }}" \
            --tag "${TARGET_HUB}:${{ matrix.tag }}" \
            --file ./Dockerfile.alpine \
            --push \
            .

  latest:
    name: Build node:latest
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1 # Action page: <https://github.com/docker/setup-qemu-action>

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1 # Action page: <https://github.com/docker/setup-buildx-action>

      - name: Login to default Container Registry
        uses: docker/login-action@v1 # Action page: <https://github.com/docker/login-action>
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push docker image
        run: |
          docker buildx build \
            --platform "linux/amd64,linux/arm/v7,linux/arm64/v8" \
            --build-arg "NODE_VERSION=latest" \
            --tag "${TARGET_HUB}:latest" \
            --file ./Dockerfile \
            --push \
            .
